.container {
  background-color: var(--clr-container-clr);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
.title-div-container {
  width: 100%;
  height: 100%;
  background-color: var(--clr-container-clr);
  z-index: 105;
  position: relative;
  padding: 0.5rem 0.5rem;
  grid-column: 1/-1;
}

.title-div {
  display: flex;
  gap: 5rem;
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background2),
    var(--clr-side-background3)
  );
  border-radius: 1rem;
  z-index: 105;
  position: relative;
}
.logo-div {
  display: inline-block;
  margin-left: 2rem;
}

h1 {
  flex: 0 0 1;
  display: inline-block;
  align-self: center;
  margin: auto;
}

/* bolts */
.round {
  display: inline-block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(248, 242, 242, 0.855),
    rgba(247, 237, 237, 0.855),
    rgba(192, 190, 190, 0.855)
  );
  box-shadow: 0 0 0 0.3rem rgba(255, 255, 255, 0.55);
}

.left-top {
  left: 1rem;
  top: 1rem;
}
.left-bottom {
  left: 1rem;
  bottom: 1rem;
}
.right-top {
  right: 1rem;
  top: 1rem;
}
.right-bottom {
  right: 1rem;
  bottom: 1rem;
}
.title-div h1 {
  justify-self: center;
  font-size: 3.2rem;
  color: var(--clr-text-clr);
  text-transform: uppercase;
}

#commentboxright1 {
  color: red;
  font-weight: bold;
  font-size: 19px;
  display: flex;
  justify-self: center;
  align-self: center;
  /* height: 100%; */

  position: absolute;
  top: 167px;
}
/* ********************** */
/* *******SIDEBAR******* */
/* ********************** */

.sidebar {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #fffcfc;
  box-shadow: 0 1rem 1rem 0 rgba(177, 176, 176, 0.855);
  padding: 1.2rem 1.6rem;
  margin: 0.5rem;
  border-radius: 0.9rem;
  left: 0;
  cursor: pointer;
}

.logo-div {
  padding: 0.8rem 0;
  width: 8rem;
}

.logo {
  width: 100%;
}

.tool-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 2rem;
}

.tool-link:link,
.tool-link:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #333;
}

.tool-link[title="Variables"] {
  color: var(--clr-title-background);
}
.tool-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.tool-list span {
  display: inline-block;
  font-size: 1.6rem;
}

.icons {
  width: 4rem;
  height: 4rem;
  color: var(--clr-title-background);
}

/* ****************** */
/* *****MAIN******* */
/* ****************** */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0.25rem;
  margin-bottom: 0;
  border-radius: 0.9rem;
}

.task-title {
  font-size: 1.8rem;
  padding: 0.2rem 1.6rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background2),
    var(--clr-side-background3)
  );
  color: var(--clr-text-clr);
  letter-spacing: 0.15rem;
}

.task-variable {
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background3),
    var(--clr-side-background2)
  );
}

.main-section {
  display: grid;
  grid-template-columns: 50fr 50fr;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main__task-div {
  width: 100%;
  background-color: #ffffffc9;
  border-radius: 0.9rem;
  max-height: 100%;
  font-size: 1.6rem;
  border: 0.5rem solid var(--clr-text-clr);
}

.main__task-div:nth-child(1) {
  position: relative;
  grid-column: 1/-1;
}

.main__task-div:nth-child(4) {
  grid-column: 1/-1;
}

.footer {
  font-size: 1.2rem;
  grid-column: 1/-1;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background3),
    var(--clr-side-background2)
  );
  color: var(--clr-text-clr);
  margin-bottom: 0;
}

.div__control {
  margin-top: 0.35rem;
  margin-right: 1rem;
}

.div__control img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.ctrl-icons {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: var(--clr-title-background);
  color: var(--clr-text-clr);
}

/* ************simulation*********** */

/* canvas */
.canvas__div {
  width: 100%;
  border: 1px solid var(--clr-title-background);
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 0;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

/* canvas#simscreen2 {
  position: absolute;

  top: 250px;
  height: 400px;
  width: 550px;
} */

/* canvas#simscreen {
  position: absolute;
  top: 66px;
  height: 414px;
  width: 557px;
  left: 4em;
  
} */
.ab {
  margin-left: 150px;
}

#canvas-container {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  width: 100%;
  height: 100%;
  /* height: 420px; */
  flex-direction: column;
  position: relative;
}
/* #canvas {
  border-left: 1px solid rgba(177, 176, 176, 0.855);
  width: 100%;
  height: 100%;
} */

.comments_sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circuit-dia {
  display: inline-block;
  position: relative;
  text-align: center;
  height: auto;
}

.circuit-dia img {
  width: 100%;
}
.cross-img {
  display: flex;
  position: relative;
  /* width: 100%; */
  height: auto;
  align-items: center;
  justify-content: center;
}
.cross-img img {
  width: 100%;
}

.other-sec {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 1.4rem;
  align-items: center;
  justify-content: center;
}
.tooltip {
  font-weight: 500;
  position: absolute;
  top: -2rem;
  left: 0;
  background-color: rgba(247, 247, 247, 0.5);
  padding: 0.5rem;
  font-size: 1.1rem;
  display: none;
}
.circuit-dia:hover span,
.cross-img:hover span {
  display: block;
}
canvas#simscreen {
  align-self: center;
  display: block;
  width: 100%;
  /* height: 100%; */
  /* image-rendering: crisp-edges;
  -moz-image-rendering: pixelated;
  -webkit-image-rendering: crisp-edges; */
}

#graphscreen1,
#graphscreen2 {
  border-top: 1px solid var(--clr-title-background);
}
/* **********VARIABLES**************** */
#variables {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 200%;
}
.settings-sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.variables-sections,
.control-sections {
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
/* ************************************************ */
/* .var-div {
  display: grid;
  grid-template-columns: 80fr 20fr;
  row-gap: 1rem;
  column-gap: 2rem; */
/* align-self: flex-end; */
/* } */
.var-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

label {
  margin-right: 1rem;
}

.var-spinner {
  flex: 1;
}

.var-slider {
  width: 150px;
  margin-left: 3.5rem;
}
.cm1 {
  margin-right: 22px;
}
/* ********************************************************* */
#comments {
  color: #1b1b1b;
  align-self: stretch;
}

.control-sections {
  height: 100%;
}
.datatable {
  grid-row: 3/4;
  grid-column: 1/-1;
  justify-self: center;
  margin-bottom: 0.5rem;
}
/* .datatable table {
  border: 1px solid #000011;
  border-collapse: collapse;
  width: 120px;
  margin-top: 110px;
  margin-left: 410px;
  
  
}
.datatable th {
  border: 1px solid #000011;
  width: 52px;
}
.datatable td {
  border: 1px solid #000011;
  width: 52px;
}
.datatable p {
  position: relative;
  font-size: 10px;
  left: -10px;
} */

#legendicon {
  background-image: url("../images/legendicon.png");
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  /* height: 5%; */
  /* width: 100%; */
  width: 3.2rem;
  height: 3.2rem;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  border: double;
}
#legendicon::before {
  content: url("../images/legend4BARacc.png");
  left: -20rem;
  top: -2rem;
  background-size: cover;
  position: absolute;
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  transform: scale(0.8);
  visibility: hidden;
}
#legendicon:hover::before,
#legendicon:active::before {
  visibility: visible;
}
#titleincanvas {
  grid-row: 1/2;
  grid-column: 1/-1;
  justify-self: center;
}

/* div#commentboxleft {
  position: absolute;
  left: 41px;
  top: 620px;
  height: 65px;
  width: 285px;
  text-align: left;
  font-size: 16px;
  
} */
/* div#commentboxright {
  position: absolute;
  left:450px;
  top: 480px;
  height: 65px;
  width: 285px;
  text-align: right;
  font-size: 16px;
  
} */
div#newComment {
  grid-row: 4/5;
  grid-column: 1/-1;
  border-top: 1px dotted black;
  padding: 0.5rem 2.5rem;
}
table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  width: 6rem;
  text-align: center;
}
